<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加图书</title>
</head>
<body>
<div id="app" class="demo-input-suffix">
    <el-popover
            placement="right-start"
            width="160px"
            v-model="visible">
        <el-form :model="book" :rules="rules" ref="ruleForm"  class="demo-ruleForm">
            <el-form-item label="图书名称" prop="title">
                <el-input
                        placeholder="请输入内容"
                        v-model="book.title"
                        clearable>
                </el-input>
            </el-form-item>

            <el-form-item label="作者" prop="author">
                <el-input
                        placeholder="请输入内容"
                        v-model="book.author"
                        clearable>
                </el-input>
            </el-form-item>
            <el-form-item label="发布日期（yyyy-mm-dd hh:mm:ss）" prop="publicationDate">
                <el-input
                        placeholder="请输入日期"
                        suffix-icon="el-icon-date"
                        v-model="book.publicationDate">
                </el-input>
            </el-form-item>

            <el-form-item label="价格" prop="price">
                <el-input
                        placeholder="请输入内容"
                        v-model="book.price"
                        clearable>
                </el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="open2(),visible = false,submitForm('ruleForm')">提交</el-button>
                <el-button @click="resetForm('ruleForm')">重置</el-button>
            </el-form-item>
        </el-form>
        <el-button slot="reference">添加图书</el-button>
    </el-popover>

<!--<h3>添加图书</h3>-->
<!--    <form action="" method="post">-->
<!--        图书名称:<input id="title" v-model="book.title" name="title"><br>-->
<!--        作者:<input id="author" v-model="book.author" name="author"><br>-->
<!--        发布日期（yy-mm-dd hh-mm-ss）:<input id="publicationDate" v-model="book.publicationDate" name="publicationDate"><br>-->
<!--        价格:<input id="price" v-model="book.price" name="price"><br>-->
<!--&lt;!&ndash;        <input type="button" id="btn" @click="submitForm" value="提交">&ndash;&gt;-->
<!--    </form>-->
</div>
<script src="js/axios-0.18.0.js"></script>
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<script>
    new Vue({
        el:"#app",
        data(){
            return{
                visible: false,
                book: {
                    title: '',
                    author: '',
                    publicationDate:'',
                    price: '',
                },
                rules: {
                    title: [
                        { required: true, message: '请输入图书名称', trigger: 'blur' },
                    ],
                    author: [
                        { required: true, message: '请输入作者', trigger: 'blur' },
                    ],
                    publicationDate: [
                        { type: 'date', required: true, message: '请输入发布日期', trigger: 'blur' }
                    ],
                    price: [
                        { required: true, message: '请输入图书价格', trigger: 'blur' },
                    ],

                }
            }
        },
        methods:{
            submitForm(){
                axios({
                    method: "post",
                    url: "http://localhost:8080/books",
                    data:this.book
                }).then(resp =>{
                    document.location.href="book.html";
                })
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            open2() {
                this.$message({
                    message: '添加图书成功',
                    type: 'success'
                });
            },
        }
    });
</script>
</body>
</html>