<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录系统</title>
</head>
<style>
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }
    .clearfix:after {
        clear: both
    }

    .box-card {
        width: 480px;
    }
</style>
<body>
<div id="app">
    <el-card class="box-card">
        <div slot="header" class="clearfix">
            <span>账号登录</span>
            <el-button style="float: right; padding: 3px 0" type="text" @click="dialogVisible = true">没有账号?点击注册</el-button>
            <!--    登录表单-->
            <el-form :model="User" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="账号" prop="username">
                    <el-input  v-model="User.username" autocomplete="off" ></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password" >
                    <el-input v-model="User.password" show-password autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm()">登录</el-button>
                    <el-button @click="resetForm('ruleForm')">重置</el-button>
                </el-form-item>
            </el-form>
        </div>
    </el-card>
    <el-dialog
            title="用户注册"
            :visible.sync="dialogVisible"
            width="30%">
        <el-form :model="addUser" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="账号" prop="username">
                <el-input  v-model="addUser.username" autocomplete="off" ></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password" >
                <el-input v-model="addUser.password" show-password autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary"  plain    @click="doRegister" >注 册</el-button>
            </el-form-item>
        </el-form>
  </span>
    </el-dialog>


</div>

<script src="js/axios-0.18.0.js"></script>
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el: "#app",
        data() {
            var validateUserName = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入账号'));
                } else {
                        callback();
                }
            };
            var validatePassWord = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                        callback();
                    }
            };
            return{
                dialogVisible: false,
                addUser: {
                    username: '',
                    password: ''
                },
                User: {
                    username: '',
                    password: ''
                },
                rules: {
                    username: [
                        { validator: validateUserName, trigger: 'blur' }
                    ],
                    password: [
                        { validator: validatePassWord, trigger: 'blur' }
                    ],
                }
            };
            },
        methods: {
            submitForm() {
                if (!this.User.username.length>0){
                    alert("账号为空~")
                }else if (!this.User.password.length>0){
                        alert("密码为空！！")
                    }
                else {
                    _this=this;
                    axios({
                        method: "post",
                        url: "http://localhost:8080/users/login",
                        data: _this.User
                    }).then(resp =>{
                        //登陆失败
                        if (resp.data.code==0){
                            alert(resp.data.msg);
                        }
                        //登录成功
                        if (resp.data.code==1){
                            // alert(resp.data.msg);
                            document.location.href="book.html"
                            // axios({
                            //     url: "http://localhost:8080/book.html",
                            //     data: resp.data.object
                            // })
                        }

                    })
               }

            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            doRegister(){
                if (!this.addUser.username.length>0){
                    alert("账号不能为空~")
                }else if (!this.addUser.password.length>0){
                    alert("密码不能为空！！")
                }
                else {
                    _this=this;
                    axios({
                        method: "post",
                        url: "http://localhost:8080/users/register",
                        data: _this.addUser
                    }).then(resp =>{
                        //注册失败
                        if (resp.data.code==0){
                            alert(resp.data.msg);
                        }
                        //注册成功
                        if (resp.data.code==1){
                            alert(resp.data.msg);
                            this.dialogVisible=false;
                            // document.location.href="index.html"
                        }

                    })
                }

            }

        }

    });

</script>
</body>
</html>